@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #b8c4b4;
}

.logo-r,
.logo-s {
  font-family: "Mea Culpa", cursive;
  font-size: 9rem;
  color: #f3dbb9;
}

.logo-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #f3dbb9;
}

.hero {
  background: linear-gradient(135deg, #3e513c);
  min-height: 100vh;
  padding: 60px 20px;
  
  position: relative;
  overflow: hidden;
}

.hero-buttons button {
  transition: 0.5s;
}

.hero-buttons button:hover {
  transform: scale(1.05);
}

.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.flower {
  position: absolute;

  top: -80px;
  right: -30px;
  transform: rotate(-125deg);
  width: 350px;
}

